@charset "UTF-8";

* { 
    margin: 0; 
    padding: 0; 
}

body {
    background-color: rgb(30, 30, 30);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

h1 {
    padding: 1%;
    font-size: 1.5em;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    padding: 2%;
    font-size: 1.3em;
    color: darkviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    margin-left: 2.2%;
    font-size: .9em;
    color: thistle;
    padding: .5%;
}